<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-uppercase"> Avatar</ion-title>
    
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/hdf.png">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip color="primary" outline="true" *ngFor="let item of [1, 1, 1, 1, 1]">
    <ion-avatar>
      <img src="assets/hdf.png">
    </ion-avatar>
    <ion-label> Joel </ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let a of avatar">
      <ion-label> {{ a.name }} </ion-label>
      <ion-avatar>
        <img [src]= "a.img">
      </ion-avatar>
    </ion-item>
  </ion-list>

</ion-content>
