#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ion-toolbar {
    // Otro color de prueba...
<<<<<<< HEAD
    background-color: var(--ion-color-pneuma);
}

ion-button {
    background-color: var(--ion-color-pneuma);   
=======
    background-color: var(--ion-color-mythra);
}

ion-button {
    background-color: var(--ion-color-mythra);   
>>>>>>> 2e96ffea643091bd08fa7ce67d9511d37ad2d544
}
